################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CKK.Logic/FileContentIndex/b8579430-2ff4-4792-8078-df75ab7e7121.vsidx
/.vs/CKK.Logic/FileContentIndex/1ae13123-fdd4-47e6-b5ac-54eb746654cc.vsidx
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/.vs/CKK.Logic/v17/TestStore/0/000.testlog
*.vsidx
/.vs/CKK.Logic/FileContentIndex/5f99a1b8-bfb0-4217-81ce-b041d7fde854.vsidx
/.vs/CKK.Logic/FileContentIndex/5f99a1b8-bfb0-4217-81ce-b041d7fde854.vsidx
/.vs/CKK.Logic/v17/TestStore/0/000.testlog
/.vs/CKK.Logic/DesignTimeBuild/.dtbcache.v2
/.vs/CKK.Logic/v17/.futdcache.v2
/.vs/CKK.Logic/v17/.suo
/.vs/ProjectEvaluation/ckk.logic.metadata.v7.bin
/.vs/ProjectEvaluation/ckk.logic.projects.v7.bin
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/CKK.tests/obj/Debug/net6.0/CKK.tests.assets.cache
/CKK.tests/obj/Debug/net6.0/CKK.tests.csproj.AssemblyReference.cache
/CKK.tests/obj/CKK.tests.csproj.nuget.dgspec.json
/CKK.tests/obj/CKK.tests.csproj.nuget.g.props
/CKK.tests/obj/CKK.tests.csproj.nuget.g.targets
/CKK.tests/obj/project.assets.json
/CKK.tests/obj/project.nuget.cache
/CKK.tests/obj/Release/net6.0/CKK.tests.assets.cache
/CKK.tests/obj/Release/net6.0/CKK.tests.csproj.AssemblyReference.cache
