################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CKK.Logic/FileContentIndex/b8579430-2ff4-4792-8078-df75ab7e7121.vsidx
