################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CKK.Logic/FileContentIndex/b8579430-2ff4-4792-8078-df75ab7e7121.vsidx
/.vs/CKK.Logic/FileContentIndex/1ae13123-fdd4-47e6-b5ac-54eb746654cc.vsidx
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/.vs/CKK.Logic/v17/TestStore/0/000.testlog
*.vsidx
/.vs/CKK.Logic/FileContentIndex/5f99a1b8-bfb0-4217-81ce-b041d7fde854.vsidx
/.vs/CKK.Logic/FileContentIndex/5f99a1b8-bfb0-4217-81ce-b041d7fde854.vsidx
/.vs/CKK.Logic/v17/TestStore/0/000.testlog
